@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F0F4FA;

    & main {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25vh;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;

    & #input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3vh;

        & input {
            padding-left: 1vw;
            background-color: #D9D9D9;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border: none;
            height: 50px;
            width:250px;
            border-radius: 10px;
        }

        & img {
            width: 30px;
            height: 30px;
        }
    }

    & button {
        width: 300px;
        height: 80px;
        background-color: #FFC857;
        color: #2A7D48;
        border: none;
        border-radius: 25px;
        font-weight: bold;
        font-size: 40px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }

    & button:hover {
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    }

    & button:active {
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
        opacity: 70%;
    }

    & h2 {
        font-weight: 400;
        color: #2A7D48;
        font-size: 1.4em;
    }
}

#main-logo {
    position: relative;
    top: 8vh;

    & img {
        width: 150px;
        height: 150px;
    }
}

#show-results {
    padding-top: 5vh;
    display: none;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
    color: #3C3C3C;
    font-size: 28px;


    & #number {
        color: #2A7D48;
    }
}

@media screen and (max-width:580px) {

    section {
        & #input-container {
            flex-direction: column;
            position: relative;

            & img {
                display:none;
            }
    }
}

main {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

}